---
import { verifyAuth } from "../../users/utils/utils.js";
import SideBarItem from "./SideBar-item.astro";
import SideBarItemMenu from "./SideBar-ItemMenu.astro";
import "../../styles/sideBar.css";

const token = Astro.cookies.get("access_token")?.value ?? "";
const responseToken = await verifyAuth(token);
const roles = responseToken?.payload?.roles?.toLowerCase();
---

<button
    data-drawer-target="default-sidebar"
    data-drawer-toggle="default-sidebar"
    aria-controls="default-sidebar"
    type="button"
    class="inline-flex absolute items-center p-2 mt-2 ms-3 text-sm text-primary-900 rounded-lg sm:hidden hover:bg-primary-100 focus:outline-none focus:ring-2 focus:ring-primary-200 dark:text-primary-400 dark:hover:bg-primary-700 dark:focus:ring-primary-600"
>
    <span class="sr-only">Open sidebar</span>
    <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        ></path>
    </svg>
</button>

<aside id="default-sidebar" class="aside_container" aria-label="Sidebar">
    <div class="h-full px-3 overflow-y-auto shadow-2xl">
        <div class="flex align-middle h-12 my-3 justify-between">
            <a
                href="https://flowbite.com"
                class="flex items-center space-x-3 rtl:space-x-reverse w-44"
            >
                <img
                    src="https://flowbite.com/docs/images/logo.svg"
                    class="h-8"
                    alt="Flowbite Logo"
                />
                <span
                    class="self-center text-2xl font-semibold whitespace-nowrap dark:text-dark_text_menu text-light_text_menu"
                    >FinHealth</span
                >
            </a>
            <button
                id="theme-toggle"
                type="button"
                class="text-light_text_menu dark:text-dark_text_menu hover:bg-light_hover dark:hover:bg-dark_hover focus:outline-none focus:ring-4 focus:ring-dark_focus dark:focus:ring-primary-700 rounded-lg text-sm p-2.5 justify-items-end"
            >
                <svg
                    id="theme-toggle-dark-icon"
                    class="hidden w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                    ></path></svg
                >
                <svg
                    id="theme-toggle-light-icon"
                    class="hidden w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        fill-rule="evenodd"
                        clip-rule="evenodd"></path></svg
                >
            </button>
        </div>

        <ul class="space-y-2 font-medium mt-16">
            <SideBarItemMenu title="Panel de control">
                <i class="fa-solid fa-gears fa-lg" slot="li-icon"></i>
                {
                    roles == "sys_adm" && (
                        <SideBarItem
                            title="Administracion de usuarios"
                            ref={"/AdminUsersPage"}
                            slot="li-item"
                        >
                            <i
                                class="fa-solid fa-users fa-lg"
                                slot="after-title"
                            />
                        </SideBarItem>
                    )
                }

                <SideBarItem
                    title="Categorias"
                    ref={"/CategoriesPage"}
                    slot="li-item"
                >
                    <i class="fa-solid fa-list fa-lg" slot="after-title"></i>
                </SideBarItem>

                <SideBarItem title="Monedas" ref={""} slot="li-item">
                    <i class="fa-solid fa-dollar-sign fa-lg" slot="after-title"
                    ></i>
                </SideBarItem>
            </SideBarItemMenu>

            <!-- <SideBarItem title="Sign In" ref="/LoginPage">
                <i
                    class="fa-solid fa-arrow-right-to-bracket fa-lg"
                    slot="after-title"></i>
            </SideBarItem>

            <SideBarItem title="Sign Up" ref="/RegisterPage">
                <i class="fa-regular fa-pen-to-square fa-lg" slot="after-title"
                ></i>
            </SideBarItem> -->

            <SideBarItem title="Sign out" ref="/LoginPage" id="signOut">
                <i
                    class="fa-solid fa-arrow-right-to-bracket fa-lg fa-rotate-180"
                    slot="after-title"></i>
            </SideBarItem>
        </ul>
    </div>
</aside>

<script>
    import axiosInstance from "../../api/axiosConfig";
    import { logout } from "../../users/api/userApi";

    document
        .querySelector("#signOut")
        ?.addEventListener("click", async (event) => {
            event.preventDefault();
            try {
                const response = await logout();
                if (response.status == 200) window.location.href = "/LoginPage";
            } catch (error) {
                console.error("Error al eliminar la cookie:", error);
            }
        });
</script>
