---
const { title, ref } = Astro.props;
---

<li>
    <a
        href={ref}
        class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-primary-800 dark:hover:bg-primary-700"
    >
        <slot name="after-title" />
        <span class="flex-1 ms-3 whitespace-nowrap text-white dark:text-white"
            >{title}</span
        >
        <slot name="before-title" />
    </a>
</li>
