---
const { title } = Astro.props;
---

<li>
    <a
        href="#"
        class="flex items-center p-2 text-primary-900 rounded-lg dark:text-white hover:bg-primary-100 dark:hover:bg-primary-700 group"
    >
        <slot name="after-title" />
        <span
            class="flex-1 ms-3 whitespace-nowrap text-purple-800 dark:text-white"
            >{title}</span
        >
        <slot name="before-title" />
    </a>
</li>
