---
const { title, ref, id } = Astro.props;
import "../../styles/sideBar.css";
---

<li>
    <a
        id={id}
        href={ref}
        class="aside_btn_Item-dark-mode aside_btn_Item-light-mode"
    >
        <slot name="after-title" />
        <span>{title}</span>
        <slot name="before-title" />
    </a>
</li>

<style></style>
