---
import Layout from "../layouts/Layout.astro";
import { getUsers } from "../users/api/userApi";
import { DataAdmin } from "../users/components/DataAdmin";
---

<Layout title={"Login"}>
    <h1 class="text-5xl text-center p-10 text-primary-700">
        Administracion de usuarios
    </h1>
    <DataAdmin client:load />
</Layout>
