---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Categories">
    <div class="container flex h-full m-auto gap-10">
        <section class="flex-wrap bg-cyan-500 w-1/2">asd</section>

        <section class="flex-wrap bg-red-500 w-1/2">asd1</section>
    </div>
</Layout>
