---
import Layout from "../layouts/Layout.astro";
import { Categorie } from "../categories/components/Categorie";
---

<Layout title="Categories">
    <div class="container flex-col w-full h-full m-auto">
        <Categorie client:load />
    </div>
</Layout>
