---
import Layout from "../layouts/Layout.astro";
import { Categories } from "../categories/components/Categories";
---

<Layout title="Categories">
    <div class="container flex-col w-full h-full m-auto">
        <Categories client:load />
    </div>
</Layout>
