---
import Layout from "../layouts/Layout.astro";
import { Categories } from "../categories/components/Categories";
---

<Layout title="Categories">
    <div class="container flex h-full m-auto gap-10">
        <section class="flex-wrap bg-cyan-500 w-1/2">
            <Categories client:load />
        </section>

        <section class="flex-wrap bg-red-500 w-1/2">asd1</section>
    </div>
</Layout>
